<h1>About</h1>

<div class="row">
<div class="col-sm home-icon">
<h5>Cheaper rental</h5>
  </div>
  <div class="col-sm home-icon">
<h5>Bigger Inventory</h5>
</div>
<div class="col-sm home-icon">
<h5>Open 24/7</h5>
</div>
</div>
<div class="row">
<div class="container">
