
  <div class="bg"></div>

  <p class="py-5 text-center">Spearhead is changing the way you rent camera gear.</p>

  <h5><%= link_to 'Get started', new_user_path%></h5>

  <h1 class='sub-heading'>All products</h1>
  <!-- loops through all the  -->
  <div class="container">
  <div class='row'>
  <% @items.each do |item| %>
  <div class="col-md-4 item-box">
  <h3><%=  link_to item.name, item_path(item) %></h3>

  <% if item.image.present? %>
  <a href="<%= item_path(item) %>"><img src="<%= item.image %>" alt="edit" class="thumb "></a>
  </div>

  <% end %>
  <% end %>
  </div>
</div>
