



<h1>/////////////// SEARCH BAR /////////////////</h1>

<% @items.each do |item| %>

<h3><%=  link_to item.name, item_path(item) %></h3>

<% if item.image.present? %>
<a href="<%= item_path(item) %>"><img src="<%= item.image %>" alt="edit" class="thumb "></a>

<% end %>
<% end %>
