<div class="container">
  <p>Spearhead is changing the way you rent camera gear.</p>
<!-- <div class="row">
<div class="col-sm home-icon">
<h3>No more rental houses</h3>
  </div>
  <div class="col-sm home-icon">
<h3>No more outrageous pricing</h3>
</div>
<div class="col-sm home-icon">
<h3>No more bullshit</h3>
</div>
</div>
<div class="row">
<div class="container"> -->

<h1>/////////////// SEARCH BAR /////////////////</h1>

<% @items.each do |item| %>


<h3><%=  link_to item.name, item_path(item) %></h3>

<% if item.image.present? %>
<a href="<%= item_path(item) %>"><img src="<%= item.image %>" alt="edit" class="thumb "></a>

<% end %>
<% end %>
