
    <div class="bg"></div>
    <div class="container home-content">
      <p class="py-5 text-center">Spearhead is changing the industry</p>
      <p>Banh mi normcore cornhole truffaut, kale chips palo santo unicorn cray vape biodiesel polaroid. Kickstarter put a bird on it shaman woke art party butcher freegan kogi cornhole 90's adaptogen whatever succulents. Shoreditch tumblr selvage, chillwave drinking vinegar dreamcatcher normcore sartorial tacos etsy tote bag biodiesel. Franzen kitsch viral, tacos artisan VHS truffaut fanny pack umami ennui ramps twee wolf cold-pressed. Craft beer snackwave cliche bushwick meh tote bag art party you probably haven't heard of them squid franzen four dollar toast 3 wolf moon dreamcatcher listicle. Shaman pinterest dreamcatcher everyday carry beard tbh.</p>
    </div>

    <% if !@current_user.present? %>
    <div class="container">
      <div class="row">
        <div class="col-md">
          <h3><%= link_to 'Get started', new_user_path%></h3>
        </div>
      </div>
    </div>
    <% end %>

    <div class="container">
      <div class="row">
        <div class="col-md">
        <h1 class='sub-heading'>All products</h1>
        </div>
      </div>
    </div>
  <!-- loops through every item -->
    <div class="container">
      <div class='row'>
        <% @items.each do |item| %>
          <div class="col-md-4 item-box">
            <h4><%=  link_to item.name, item_path(item) %></h4>

            <% if item.image.present? %>
            <a href="<%= item_path(item) %>"><img src="<%= item.image %>" alt="edit" class="thumb"></a>
          </div>

      <% end %>
      <% end %>
      </div>
    </div>
