
<h1>All products</h1>
<!-- loops through all the  -->
<% @items.each do |item| %>
<div class="col-sm col-sm col-sm">
<h3><%=  link_to item.name, item_path(item) %></h3>

<% if item.image.present? %>
<a href="<%= item_path(item) %>"><img src="<%= item.image %>" alt="edit" class="thumb "></a>
</div>
<% end %>
<% end %>
</div>
</div>
</div>
