
<h3>All items</h3>
<!-- loops through all the  -->
<div class="container">
  <div class='row'>
      <% @items.each do |item| %>

    <div class="col-md-4 item-box">
      <div class="row justify-content-center row-eq-height">
        <h4><%=  link_to item.name, item_path(item) %></h4>
      </div>
        <% if item.image.present? %>
        <%= link_to item_path(item) do %>
          <%= cl_image_tag item.image, :class => 'thumb' %>
          <% end %>
      <% end %>
    </div>

    <% end %>
  </div>
</div>
