/* @import url('https://fonts.googleapis.com/css?family=Playfair+Display|Staatliches');


nav {
  background-color: #f55e55;
  color: white;
  padding: 10px;
}

nav a {
  text-decoration: none;
  color: white;
  padding: 10px;
}

nav h1 {
  font-size: 30px;
  padding: 0;
}

.form {
  max-width: 600px;
  margin: auto;
}

.form .field {
  display: block;
  padding: 15px;
}


.allitems {
  display: grid;
  grid-gap: 25px;
  grid-template-columns: auto auto auto;
  justify-content: center;
}

.griditem {
  display: inline-grid;
  border: solid #ccc 2px;
  height: 250px;
  padding: 25px;
}

.productContainer {
  display: grid;
  grid-template-columns: 15% auto;
  grid-gap: 15px;
  justify-content: center;
}

.categorySidebar {
  display: inline-grid;
  padding: 10px;
}

.categorySidebar a {
  text-decoration: none;
  color: black;
}

.categorySidebar a:hover {
  color: #f55e55;
}

.browseContainer {
  display: grid;
  grid-template-columns: 15% auto;
}

.browseSidebar {
  display: inline-grid;
  padding: 10px;
}

.itemsinCategory {
  display: grid;
  grid-gap: 25px;
  grid-template-columns: auto auto auto;
  justify-content: center;
}

.eachItem {
  display: inline-grid;
  border: solid #ccc 2px;
} */
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Staatliches');

/* font-family: 'Playfair Display', serif; */
  /* font-family: 'Staatliches', cursive; */

body {
  font-family: monospace;
  text-align: center;
}

h1, h2 {
  font-family: 'Playfair Display', serif;
  color: MISTYROSE;
  text-shadow: 1px 1px #ff0000;
}

.feature {
  width: 40%;
}

.thumb {
  max-width: 20em;
}

.avatar {
  height: 200px;
  border-radius: 100%;
}

.home-icon {
  margin: 10px;
  padding: 15px;
  border-radius: 0.5em;
  border: solid black 1px;
}

.homepagebox {
  display: flex;
  flex-direction: row;
}

[class*="col-"] {
  margin-bottom: 30px;
}

body, html {
  height: 100%;
}
.bg {
  /* The image used */
  background-image: url('background-image.jpg');

  /* Half height */
  height: 50%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sub-heading {
  padding: 20px;
}

.item-box {
  border-radius: 1em;
  box-shadow: 2px 5px #ccc;
}
