/* @import url('https://fonts.googleapis.com/css?family=Playfair+Display|Staatliches');


nav {
  background-color: #f55e55;
  color: white;
  padding: 10px;
}

nav a {
  text-decoration: none;
  color: white;
  padding: 10px;
}

nav h1 {
  font-size: 30px;
  padding: 0;
}

.form {
  max-width: 600px;
  margin: auto;
}

.form .field {
  display: block;
  padding: 15px;
}


.allitems {
  display: grid;
  grid-gap: 25px;
  grid-template-columns: auto auto auto;
  justify-content: center;
}

.griditem {
  display: inline-grid;
  border: solid #ccc 2px;
  height: 250px;
  padding: 25px;
}

.productContainer {
  display: grid;
  grid-template-columns: 15% auto;
  grid-gap: 15px;
  justify-content: center;
}

.categorySidebar {
  display: inline-grid;
  padding: 10px;
}

.categorySidebar a {
  text-decoration: none;
  color: black;
}

.categorySidebar a:hover {
  color: #f55e55;
}

.browseContainer {
  display: grid;
  grid-template-columns: 15% auto;
}

.browseSidebar {
  display: inline-grid;
  padding: 10px;
}

.itemsinCategory {
  display: grid;
  grid-gap: 25px;
  grid-template-columns: auto auto auto;
  justify-content: center;
}

.eachItem {
  display: inline-grid;
  border: solid #ccc 2px;
} */
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Staatliches');

body {
  font-family: 'Playfair Display', serif;
  text-align: center;
}

h1, h2, h3 {
  font-family: 'Staatliches', cursive;
}

.feature {
  width: 40%;
}

.thumb {
  width: 15em;
}

.avatar {
  height: 200px;
  border-radius: 100%;
}
