@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Staatliches');

body {
  font-family: monospace;
  text-align: center;
}

h1, h2 {
  font-family: 'Playfair Display', serif;
  color: MISTYROSE;
  text-shadow: 1px 1.5px #ff0000;
}

h1 {
  font-size: 60px;
}

.feature {
  width: 40%;
}

.thumb {
  width: 80%;

}

.avatar {
  height: 200px;
  border-radius: 100%;
}

.home-icon {
  margin: 10px;
  padding: 15px;
  border-radius: 0.5em;
  border: solid black 1px;
}

.homepagebox {
  display: flex;
  flex-direction: row;
}

[class*="col-"] {
  margin-bottom: 30px;
}

body, html {
  height: 100%;
}
.bg {
  /* The image used */
  background-image: url('background-image.jpg');

  /* Half height */
  height: 50%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sub-heading {
  padding: 20px;
}

.navigation {
  position: fixed;
  top: 0;
  left: 0;
}

.home-content p {
    font-size: 25px;
}

.addcart {
  font-size: 2rem;
}

.container a {
  color: #4682B4 !important;
}

.container .browse-links {
  color: navy !important;
}

a:hover {
  text-decoration: none;
  color: navy !important;
}

.browsebar a {
  color: #4682B4 !important;
}
